table {text-align:center;background-color: bisque;width: 100%;border-radius: 6px}
td {height: 60px;background-color: rgb(247, 230, 212);color:black;width: 100px}
th {background-color: rgb(247, 165, 12);color: white}