table {text-align:center;background-color: bisque;width: 100%;border-radius: 6px}
td {height: 60px;background-color: rgb(247, 230, 212);color:black;width: 100px}
th {background-color: rgb(247, 165, 12);color: white}
button:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
#choices {width: 90%; height: 50px; text-align: center; padding: 2% 5%;}
button {background-color: chocolate; color: wheat; text-align: center; font-size: 20px;}