#picture {
    height: 2cm;
    width: 2cm;
    animation:mymove 7s infinite;}
@keyframes mymove{
    from {height: 2cm; width: 2cm; filter: opacity(100%);}
    to {height: 1.5cm; width: 1.5cm; filter: opacity(0%);}
}
