img {width: 100%;}
#picture {width:30%; float:left;}
#choice {text-align: center; float: right; padding: 2% 29%;}
#AA2 {text-align: center; float: right; padding: 2% 42.5%;}
#question {text-align: center; float: right; padding: 2% 17%;}
#questionA {text-align: center; float: right; padding: 2% 24%;}
#questionB {text-align: center; float: right; padding: 2% 18%;}
#questionC {text-align: center; float: right; padding: 2% 24%;}
#questionD {text-align: center; float: right; padding: 2% 24%;}
#questionE {text-align: center; float: right; padding: 2% 24%;}
#BB3 {text-align: center; float: right; padding: 2% 20%;}
#BB2 {text-align: center; float: right; padding: 2% 20%;}
#BB2b {text-align: center; float: right; padding: 2% 20%;}
#CC3 {text-align: center; float: right; padding: 2% 20%;}
#CC2 {text-align: center; float: right; padding: 2% 10%;}
#DD2 {text-align: center; float: right; padding: 2% 40%;}